<div *ngIf="cart.length > 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <h2>Products in your Cart <span>({{cart.length}} items)</span>:</h2>
    <ul class="list-unstyled">
        <app-cart-item
                *ngFor="let item of cart"
                [item]="item"
                (changeQuantity)="onChangeQuantity($event, item.id)"
        >
        </app-cart-item>
    </ul>
    <app-summary></app-summary>
</ng-template>
<ng-template #elseBlock>
    <h2>Your cart is empty</h2>
    <p>Please, choose any product from catalog</p>
</ng-template>
