header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 48px;
    margin-bottom: 16px;
    border-bottom: 1px solid navy;
    text-align: center;
}
