<ul>
  <li class="product" *ngFor="let product of productList">
    <h3>Product name: {{ product.name }}</h3>
    <p>Category: {{ product.category }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }} &euro;</p>
    <button
            *ngIf="product.isAvailable; else unavailableMessage" type="button"
            (click)="onBuy(product.id)"
    >
      Buy
    </button>
    <ng-template #unavailableMessage><i>Product is not available at the moment</i></ng-template>
  </li>
</ul>
