/* You can add global styles to this file, and also import other style files */
.container {
    width: 960px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}
